<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa_dns2gLj-SP_fMWOPEFw5DPstsws-8o</string>
	<key>GCM_SENDER_ID</key>
	<string>666264886897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auger.bazer.io</string>
	<key>PROJECT_ID</key>
	<string>bazze-5939a</string>
	<key>STORAGE_BUCKET</key>
	<string>bazze-5939a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666264886897:ios:8a701f45168fdc94de05d0</string>
</dict>
</plist>